@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.test {
  color: chartreuse;
}

.hero-image {
  background-image: url("assets/images/heroImgMobile.webp");
}
.hero-home {
  background-image: url("assets/images/heroHome.png");
}

/* hideScrollbar.css */
html {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}


@media screen and (min-width: 1024px) {
  .test {
    color: darkorange;
  }

  .hero-image {
    background-image: url("assets/images/heroDesktop.webp");
  }
  .hero-home {
    background-image: url("assets/images/heroImgDesktop.webp");
  }
}

