@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.test {
  color: chartreuse;
}

.hero-image {
  background-image: url("assets/images/heroImgMobile.webp");
}

@media screen and (min-width: 1024px) {
  .test {
    color: darkorange;
  }

  .hero-image {
    background-image: url("assets/images/heroImgDesktop.webp");
  }
}

